<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="login-pf">

<%- include("./partials/header") %>

<body>
  <script nonce="<%= nonce %>">
    async function getResendOtpWaitTime() {
      const emailInput = document.getElementById('email');
      // make api call to get the wait time for resend OTP
      const res = await fetch("/user/otp/resend-wait-time", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: emailInput.value.trim(),
          _csrf: "<%= csrfToken %>"
        })
      });
      return res.json();
    }

    function handleShowResentOtpWaitTime(durationInSeconds) {
      let loginButton = document.getElementById("kc-login");
      let errorMessageField = document.getElementById("input-error");

      loginButton.disabled = true;

      let interval = setInterval(() => {
        if (durationInSeconds <= 0) {
          clearInterval(interval);
          loginButton.disabled = false;
          errorMessageField.textContent = "";
        } else {
          errorMessageField.textContent = `Please wait ${durationInSeconds--} seconds before requesting a new code.`;
        }
      }, 1000);
    }

    window.addEventListener("DOMContentLoaded", function() {
      const form = document.getElementById('kc-form-login')
      form.addEventListener('submit', async function(e) {
        e.preventDefault();
        const time = await getResendOtpWaitTime();
        const emailInput = document.getElementById('email');
        const email = emailInput.value.trim();
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        let submitButton = document.getElementById("kc-login");
        let errorMessageField = document.getElementById("input-error");

        if (!email) {
          errorMessageField.textContent = 'Email is required.';
        } else if (!emailRegex.test(email)) {
          errorMessageField.textContent = 'Please enter a valid email address.';
        } else if (time && time.error) {
          errorMessageField.textContent = time.error;
          submitButton.disabled = true;
        } else if (time && time.seconds !== 0) {
          handleShowResentOtpWaitTime(time.seconds);
        } else {
          form.submit();
        }
      });
    });
  </script>
  <header>
    <div class="banner">
      <span></span>
      <h1>Pathfinder SSO</h1>
    </div>
    <div class="other">&nbsp;</div>
  </header>
  <div class="login-pf-page">
    <div id="kc-header" class="login-pf-page-header">
      <div id="kc-header-wrapper" class="">
        Secure OTP Login
      </div>
    </div>
    <div class="card-pf">
      <header class="login-pf-header">
        <h1 id="kc-page-title">Authenticate with:</h1>
      </header>
      <div id="kc-content">
        <div id="kc-content-wrapper">
          <div id="kc-form">
            <div id="kc-form-wrapper">
              <form action="/interaction/<%= uid %>/otp" method="POST" autocomplete="off" id="kc-form-login">
                <div class="form-group">
                  <label for="email" class="pf-c-form__label pf-c-form__label-text">Email</label>
                  <input tabindex="2" id="email" class="pf-c-form-control" name="email" value="" type="text" autofocus="" autocomplete="email" aria-invalid="" dir="ltr">
                  <span id="input-error" class="required" aria-live="polite">
                    <%= error %>
                  </span>
                </div>
                <div id="kc-form-buttons" class="form-group">
                  <input type="hidden" id="id-hidden-input" name="credentialId">
                  <input tabindex="7" class="pf-c-button pf-m-primary pf-m-block btn-lg" name="login" id="kc-login" type="submit" value="Get OTP">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
