  <%- include("./partials/header") %>

  <div class="size-full flex flex-row justify-center">
    <div class="card">
      <h2 class="text-lg font-bold">Enter an email</h2>
      <p>A code will be sent for a password-free login.</p>

      <form id="signin-form" action="/interaction/<%= uid %>/otp" method="POST" class="w-full flex flex-col gap-24 items-start">
        <div class="flex flex-col items-start gap-4 w-full">
          <input class="border border-light-grey border-1 p-2 rounded-[4px] w-full p-8" placeholder="Enter an email" id="email-input" name="email" value="" autofocus aria-label="Email" dir="ltr" data-wait-time="<%= waitTime %>" type="email" autocomplete="email" required />
          <span id="email-error" class="text-danger text-sm min-h-20">
            <% if (error) { %>
            <%= error %>
            <% } else if (waitTime > 0) { %>
            Please wait <span id="wait-time-text"><%= waitTime %></span> seconds before requesting a new code for this email address.
            <% } %>
          </span>
          <!-- <span id="email-error" class="text-danger text-sm min-h-20"> Email invalid </span> -->
        </div>
        <!-- <input type="hidden" id="id-hidden-input" name="credentialId" /> -->
        <button class="btn" type="submit" name="login" id="submit-button">
          Continue
        </button>
      </form>
      <div class="bg-lightest-grey p-16">
        <p>
          Your email address is being collected under section 26(c) of the <em>Freedom of
          Information and Protection of Privacy Act</em> for the purpose of providing you with a
          single use passcode to facilitate your access to certain government services and
          programs. Should you have any questions, please contact the Manager, BC
          Government Digital Trust Program at <a href="mailto:ditrust@gov.bc.ca" class="text-blue-600 underline hover:text-blue-800 visited:text-purple-600">ditrust@gov.bc.ca</a>.
        </p>
        <p class="pt-8">
          By clicking 'Continue':
          <ol>
            <li class="pl-8 pt-4 flex flex-row gap-8">
              <span>(a)</span>
              <span>
                you acknowledge and agree that your email address will be shared with the
                Ministry responsible for the application you are accessing for the purpose of
                facilitating your access to that application; and
              </span>
            </li>
            <li class="pl-8 flex flex-row gap-8">
              <span>(b)</span>
              <span>
                you agree to the <a target="_blank" href="/terms-of-use" class="text-blue-600 underline hover:text-blue-800 visited:text-purple-600">One Time Passcode Terms of Use</a>.
              </span>
            </li>
          </ol>
        </p>
      </div>
    </div>
  </div>
  </body>
  <script src="/js/signin.js" type="module" nonce="<%= nonce %>"></script>

  </html>
